body{
	overflow-x: hidden;
}
.a_head .a_headIn {
				color: #666666;
				font-size: 12px;
				font-weight: lighter;
				width: 1182px;
			}
			
			.a_head .a_headIn a:nth-child(2) {
				background: url(../img/img-a/phone.png) no-repeat 40px 9px;
			}
			
			.a_headIn span:nth-child(1)>a {
				background: url(../img/img-b/b-arrow1.png) no-repeat center right;
				width: 35px;
				text-align: left;
			}
			
			.a_headIn a:nth-child(2) {
				width: 130px;
			}
			
			.a_headIn a:nth-child(3) {
				width: 70px;
				text-align: right;
			}
			
			.a_roof .a_roofIn>a {
				display: block;
				width: 130px;
				float: left;
				font-size: 26px;
				margin-top: 28px;
				margin-left: 30px;
				line-height: 80px;
				text-align: center;
				height: 80px;
				border-left: 1px solid rgba(102, 102, 102, 0.3);
			}
			/*内容层*/
			
			.a_content {
				min-width: 1180px;
				background: url(../img/img-a/loadbag.png) no-repeat center;
				border-top: 1px solid #6eadda;
				height: 574px;
			}
			
			.a_content .win {
				width: 1184px;
				height: 574px;
				/*border: 1px solid #ffffff;*/
				margin: 0 auto;
			}
			
			.a_content .win .login {
				width: 386px;
				height: 509px;
				border-top: 1px solid #6eadda;
				background: #ffffff;
				margin: 40px 0 0 758px;
			}
			
			.a_content .win .login .border {
				width: 308px;
				height: 444px;
				position: relative;
				margin: 30px 0 20px 40px;
				border-bottom:1px solid #ffffff ;
			}
			
			.win .login .border .a_up>span {
				font-size: 24px;
				float: left;
				color: #666666;
			}
			
			.win .login .border .a_up>a {
				font-size: 16px;
				text-align: left;
				width: 130px;
				color: #008de1;
				margin-top: 5px;
				background: url(../img/img-a/iPhone_potrait1.png) no-repeat bottom right;
				float: right;
			}
			
			.a_content .win .login .border>input {
				height: 44px;
				line-height: 42px;
				width: 100%;
				text-indent: 1em;
			}
			
			.a_content .win .login .border>img {
				position: absolute;
				display: none;
				right: 15px;
				top: 60px;
			}
			
			.a_content .win .login .border>input:nth-child(2) {
				margin-top: 20px;
			}
			
			.a_content .win .login .border .warning {
				font-size: 12px;
				height: 30px;
				opacity: 0;
				line-height: 30px;
				color: #db2630;
				background: url(../img/img-a/alert.png) no-repeat center left;
				text-indent: 1.5em;
			}
			
			.a_content .win .login .border .validation {
				margin-top: 30px;
				font-size: 14px;
				color: #ec6a17;
				line-height: 50px;
				text-indent: 0.5em;
			}
			
			.a_content .win .login .border .validation>input {
				float: left;
			}
			
			.win .login .border .validation>input:nth-child(1) {
				width: 110px;
				height: 46px;
				text-indent: 1em;
			}
			
			.win .login .border .validation>input:nth-child(2) {
				width: 76px;
				height: 34px;
				border: 0;
				text-align: center;
				background: url(../img/img-a/yzm.png) no-repeat -1px -1px;
				margin: 7px 0 0 16px;
			}
			
			.win .login .border .forget {
				margin-top: 30px;
				font-size: 14px;
				color: #666666;
			}
			
			.win .login .border .forget>input {
				height: 14px;
				width: 14px;
			}
			
			.win .login .border .forget>a {
				float: right;
				color: #ec6a17;
				margin-right: 40px;
				text-decoration: underline;
			}
			
			.win .login .border>button {
				margin-top: 30px;
				width: 104px;
				height: 45px;
				font-size: 18px;
				border-radius: 5px;
				float: left;
				border: 0;
				outline: none;
				color: #ffffff;
			}
			
			.win .login .border>button:nth-child(9) {
				background: #ec6a17;
				margin-left: 25px;
			}
			
			.win .login .border>button:nth-child(10) {
				background: #008de1;
				margin-left: 52px;
			}
			
			.win .login .border .a_left,
			.win .login .border .a_right {
				width: 94px;
				float: left;
				height: 62px;
				margin-top: 25px;
				border-top: 1px dashed red;
			}
			
			.win .login .border .a_con {
				width: 120px;
				float: left;
				height: 62px;
				font-size: 16px;
				color: #666666;
				text-align: center;
				margin-top: 15px;
			}
			
			.win .login .border .a_con>img {
				margin-top: 20px;
				float: left;
			}
			
			.win .login .border .a_con>img:nth-child(3) {
				margin-left: 44px;
			}