.top .top2 .nav>a:nth-child(2){
				color: black;
			}
			body{
				background: #F2F2F2;
			}
			.mid{
				width: 1180px;
				margin: 0 auto;
			}
			.mid .b-place,.mid .b-place a{
				line-height: 54px;
				font-size: 16px;
				color: #666666;
			}
			.mid .b-place strong{
				font-weight: normal;
				padding: 0 6px;
			}
			.mid .b-place span{
				color: #FF6C00;
			}
			/*内容*/
			.mid .content{
				overflow: hidden;
			}
			.mid .content .content-list{
				float: left;
				background: white;
				width: 172px;
				border: 1px solid #D3D3D3;
			}
			.mid .content .content-list>a{
				display: block;
				background: url(../img/img-b/b-home-logo.png) no-repeat 17px center;
				padding-left: 45px;
				font-size: 18px;
				color: #666666;
				line-height: 56px;
				font-family: "microsoft yahei";
				border-bottom: 1px solid #D3D3D3;
			}
			.mid .content .content-list .con-detail{
				padding: 10px 20px;
			}
			.mid .content .content-list .con-detail dl a{
				display: block;				
				line-height: 36px;
				color: #666666;
				font-family: simsun;
			}
			.mid .content .content-list .con-detail dl dd{
				overflow: hidden;
			}
			/*选中*/
			.mid .content .content-list .con-detail dl dd .sel-list,.mid .content .content-list .con-detail dl dd a:hover{
				color: #FF6C00;
				text-decoration: underline;
			}
			.mid .content .content-list .con-detail dl dt a{
				font-weight: bolder;
				font-size: 16px;
			}
			.mid .content .content-list .con-detail dl a span{
				float: right;
				display: inline-block;
				width: 8px;
				height: 8px;
				border-right: 1px solid #666666;
				border-bottom: 1px solid #666666;
				margin-top: 13px;
				-webkit-transform: rotateZ(-45deg);
				-moz-transform: rotateZ(-45deg);
				-ms-transform: rotateZ(-45deg);
				-o-transform: rotateZ(-45deg);
				transform: rotateZ(-45deg);
				transition: 0.3s;
			}
			.mid .content .content-list .con-detail dl dd a{
				font-size: 14px;
			}
			/*右边*/
			.mid .content .explain{
				width: 904px;
				padding: 40px;
				float: right;
				border: 1px solid #D3D3D3;
				background: white;
			}
			.mid .content .explain h3{
				font-size: 24px;
				line-height: 64px;				
				text-align: center;
			}
			.mid .content .explain>div:nth-child(2){
				text-align: center;
				font: 14px/34px simsun;
				color: #999999;
			}
			.mid .content .explain div:nth-child(2) span:first-child{
				margin-right: 85px;
			}
			.mid .content .explain p{
				font-size: 14px;
				color: #666666;
				line-height: 30px;
				text-indent: 28px;
				margin: 30px 0;
			}
			.mid .content .explain .imgs{
				margin: 40px 0;
			}
			.mid .content .explain .imgs img{
				display: block;
				width: 100%;
			}