body{
				background: #F2F2F2;
			}
			.top .top2 .nav>a:nth-child(2){
				color: black;
			}
			.mid{
				width: 1180px;
				margin: 0 auto;
			}
			.mid .b-place,.mid .b-place a{
				line-height: 54px;
				font-size: 16px;
				color: #666666;
			}
			.mid .b-place strong{
				font-weight: normal;
				padding: 0 6px;
			}
			.mid .b-place span{
				color: #EC6A17;
			}
			/*内容*/
			.mid .content{
				border: 1px solid #D3D3D3;
				padding: 80px;
				background: white;
			}
			.mid .content .b-tiao{
				height: 42px;
				position: relative;
			}
			.mid .content .b-tiao div{
				position: absolute;
			}
			.mid .content .b-tiao>div{
				width: 230px;
				top: 0;
				z-index: 0;
			}
			.mid .content .b-tiao div span{
				display: block;
				font-size: 18px;
				line-height: 42px;
				text-align: center;
			}
			.mid .content .b-tiao .b-sub{
				left: 0;
				background: #EC6A17;
				color: white;
			}
			.mid .content .b-tiao .jiao1,.mid .content .b-tiao .jiao2,.mid .content .b-tiao .jiao3,.mid .content .b-tiao .jiao4{				
				-webkit-transform: rotateZ(-45deg);
				-moz-transform: rotateZ(-45deg);
				-ms-transform: rotateZ(-45deg);
				-o-transform: rotateZ(-45deg);
				transform: rotateZ(-45deg);
			}
			.mid .content .b-tiao .jiao1,.mid .content .b-tiao .jiao3{	
				width: 30px;
				height: 30px;			
				background: #EC6A17;
				left: 215px;
				top: 6px;
				z-index: 1;
			}			
			.mid .content .b-tiao .jiao2,.mid .content .b-tiao .jiao4{				
				background: white;
				width: 40px;
				height: 40px;
				left: 218px;
				top: 1px;
				z-index: 1;
			}
			.mid .content .b-tiao .jiao3{
				background: #E5E5E5;
				left: 462px;
			}
			.mid .content .b-tiao .jiao4{
				left: 465px;
			}
			.mid .content .b-tiao .b-wait,.mid .content .b-tiao .b-join{
				background: #e5e5e5;
				color: black;
			}
			.mid .content .b-tiao .b-wait{
				padding-left: 10px;
				left: 246px;		
			}
			.mid .content .b-tiao .b-join{
				padding-left: 20px;
				left: 493px;
			}
			/*基本信息*/
			.mid .content .b-infor .infor-h{
				font-size: 18px;
				color: #666666;
				font-weight: bolder;
			}
			.mid .content .b-infor div{
				line-height: 34px;
			}
			.mid .content .b-infor>div{
				margin: 40px 0;
				font-size: 18px;
				overflow: hidden;
			}
			.mid .content .b-infor>div>span:first-child{
				display: inline-block;
				width: 120px;
				float: left;
			}
			.mid .content .b-infor>div span:first-child b{
				color: #EC6A17;
				font-weight: normal;
			}
			.mid .content .b-infor>div input,.mid .content .b-infor>div textarea{
				width: 386px;
				height: 33px;
				border: 1px solid #D3D3D3;
				outline: none;
				float: left;
			}
			.mid .content .b-infor>div textarea{
				height: 132px;
				resize: none;
			}
			.mid .content .b-infor>div:nth-child(-n+5){
				height: 36px;
			}
			.mid .content .b-infor>div:nth-child(-n+6)>span{
				margin-top: 9px;
			}
			.mid .content .b-infor .sell-class span{
				float: left;
			}
			.mid .content .b-infor .sell-class span:nth-child(n+2){
				display: inline-block;
				font-size: 16px;
				color: #666666;
				margin-right: 45px;
				cursor: pointer;
			}
			.mid .content .b-infor .sell-class span strong{
				display: inline-block;
				width: 16px;
				height: 16px;
				border: 1px solid #D3D3D3;
				border-radius: 9px;
				text-align: center;
				margin-right: 12px;
			}
			.mid .content .b-infor .sell-class span strong i{
				display: inline-block;
				width: 12px;
				height: 12px;
				margin-top: 2px;
				background: white;
				border-radius: 7px;
			}
			.mid .content .b-infor .sell-class .sel-cla strong{
				border-color: #008DE1;
			}
			.mid .content .b-infor .sell-class .sel-cla i{
				background: #008DE1;
			}
			.mid .content .b-infor input::-webkit-outer-spin-button,.mid .content .b-infor input::-webkit-inner-spin-button{
				-webkit-appearance: none;
				-moz-appearance: none;
				appearance: none;
			}
			/*上传照片*/
			.mid .content .b-infor .b-photos{
				width: 480px;
				float: left;
			}
			.mid .content .b-infor .b-photos .face div:first-child{
				font-size: 18px;
				color: #666666;
				line-height: 100%;
			}
			.mid .content .b-infor .b-photos .face .clicks{
				overflow: hidden;
				margin: 20px 0 30px 0;
			}
			.mid .content .b-infor .b-photos .face .clicks .box{
				float: left;
				margin-right: 20px;
				position: relative;
				width: 140px;
				height: 140px;
				background: #E4E4E4;
				cursor: pointer;
			}
			.mid .content .b-infor .b-photos .face .clicks .box .b-heng,.mid .content .b-infor .b-photos .face .clicks .box .b-shu{
				display: block;
				background: #c5c5c5;
				border-radius: 2px;
				position: absolute;
			}
			.mid .content .b-infor .b-photos .face .clicks .box .b-heng{
				width: 60px;
				height: 8px;	
				top: 66px;
				left: 40px;			
			}
			.mid .content .b-infor .b-photos .face .clicks .box .b-shu{
				width: 8px;
				height: 60px;
				top: 40px;
				left: 66px;
			}
			.mid .content .b-infor .b-photos .face .clicks .box span:last-child{
				display: block;
				width: 100%;
				text-align: center;
				font-size: 14px;
				line-height: 28px;
				color: white;
				background: #747474;
				position: absolute;
				left: 0;
				bottom: 0;
			}
			.mid .content .b-infor .b-photos #file{
				display: none;
			}
			.mid .content .b-infor .b-photos>input:last-child{
				width: 170px;
				line-height: 45px;
				height: 45px;
				font-size: 18px;
				color: white;
				background: #EC6A17;
				border: 0;
				border-radius: 5px;
				cursor: pointer;
			}